.popup-success {
  display: none;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 40px 20px 30px 20px;
  background-color: #fff;
  z-index: 1000;
  .popup-success__description {
    font-size: 20px;
    text-align: center;
    display: block;
  }
}