.utp {
  .utp__wrapper {
    @include section-width;
    @include paddings;
    @include centers;
  }
  .utp__list {
    padding-left: 0;
    list-style: none;
    font-family: $font--main;
    @media #{$min-tablet-width} {
      display: flex;
      flex-wrap: wrap;
      width: 775px;
      @include centers;
      justify-content: space-between;
    }
    li {
      box-sizing: border-box;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .2);
      position: relative;
      display: flex;
      @media #{$max-mobile-width} {
        padding: 9px;
        margin-top: 15px;
        font-size: 15px;
      }
      @media #{$min-tablet-width} {
        padding: 10px;
        font-size: 14px;
      }
      @media #{$min-desktop-width} {
        font-size: 18px;
      }
      &:not(:last-child) {
        @media #{$min-tablet-width} {
          width: 372px;
        }
        .container {
          @media #{$min-tablet-width} {
            padding: 353px 20px 20px 40px;
          }
        }
      }
      &:last-child {
        @media #{$min-tablet-width} {
          margin-top: 30px;
        }
        .container {
          @media #{$min-tablet-width} {
            padding: 20px 20px 20px 389px;
          }
        }
      }
      &::after {
        position: absolute;
        content: "";
        width: 173px;
        height: 2px;
        background-color: #F0A41A;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
      }
      .container {
        border: 1px solid rgba(171, 171, 171, .4);
        @media #{$max-mobile-width} {
          padding: 240px 25px 25px 25px;
        }
      }
      h3 {
        text-align: center;
        @media #{$max-mobile-width} {
          font-size: 24px;
        }
        @media #{$min-tablet-width} {
          font-size: 21px;
        }
        @media #{$min-desktop-width} {
          font-size: 30px;
        }
      }
    }
  }
}